.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f1eded;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.nav-items > img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.nav-links > a {
  text-decoration: none;
  color: black;
  padding-right: 15px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 25px;
}

.search-bar > input {
  padding: 5px 12px;
  width: 180px;
  margin: 15px;
  height: 100%;
  border-radius: 2rem;
  border: 1px solid #9999;
}

.search-bar > button {
  padding: 5px;
  text-align: center;
  background-color: black;
  color: #fff;
  border-radius: 10px;
}

.search-bar > button:hover {
  background-color: white;
  color: black;
}
.restaurant-card {
  border-radius: 2rem;
  height: 400px;
  width: 350px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.restaurant-card:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.restaurant-card > img {
  height: 70%;
  width: 100%;
  border-radius: 2rem;
}

.res-details {
  display: flex;
  justify-content: space-between;
}

.res-details-left > span {
  font-size: 14px;
}

.res-details-right > span {
  font-size: 14px;
}
.res-details-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.res-details-right > h3 {
  margin-bottom: 5px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}
